@{
    @model int;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<li class="nav-item">
    <a class="nav-link text-white" asp-area="" asp-controller="Cart" asp-action="Cart" title="Carrito">
        <i class="fas fa-shopping-cart"></i><span class="badge badge-pill badge-primary" id="cartItemCount">@Model</span>
    </a>
</li>