@*
*@
@{
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="alert alert-success mt-4" role="alert">
    <h4 class="alert-heading">Reservación Confirmada</h4>
    <p>Su pago y su reservación han sido procesados con éxito. Hemos enviado una notificación a su correo electrónico. Agradecemos su preferencia y esperamos que disfrute de su viaje.</p>
    <hr>
    <p class="mb-0">Si tiene alguna pregunta, no dude en ponerse en contacto con nuestro equipo de soporte.</p>
</div>