@*
*@
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="alert alert-warning mt-4" role="alert">
    <h4 class="alert-heading">Sesión Expirada</h4>
    <p>Su sesión ha expirado debido a la inactividad. Para continuar, por favor, inicie sesión nuevamente.</p>
    <hr>
    <p class="mb-0">Si tiene alguna pregunta o necesita asistencia, no dude en ponerse en contacto con nuestro equipo de soporte.</p>
</div>
